body {
    background-color: #556B2F;
}


#title {
    text-align: center;
}

#color-palette {
    text-align: center;
}

.color {
    height: 80px;
    width: 80px;
    padding: 10px;
    display: inline-block;
    border: solid black 1px;
}

#pixel-board {
    text-align: center;
    margin-left: 220px;
    width: 800px;
    height: 700px;
    margin-top: 30px;

}


.pixel {
    display: inline-block;
    background-color: white;
    height: 40px;
    width: 40px;
    border: solid black 1px;
    margin: -2px;
    

}

#clear-board {
    margin-left: 630px;
    margin-top: 20px;
    
}

#button-random-color {
    margin-left: 230px;
}